.banner{
    background:url('/assets/img/banner.jpg');
    height: 530px;
}
.jumbotron{
    border-radius: 0;
    margin-bottom:0;
}
hr{
border:5px solid #0097A6;
margin:0;
}
.secondary{
    border:5px solid black!important;
}
.btn{
    background:rgba(0, 151, 166,0.4);
    color:#fff;
    border-radius: 0;
}
.btn:nth-child(1){
    background:rgba(6, 174, 171,0.7);
}
.bg{
    background:#0097A6;
}
.lead{
    color:#0097A6;
}
input[type="text"],
textarea.form-control{
    background:#D5F5F5;
    color:#fff;
}
.fas,
.contact-panel,
.background-secondary{
    background:#00CEC8;
}
.transparent{
    background:none!important;
}
.card{
    -webkit-box-shadow: 9px 10px 5px -5px rgba(189,185,189,1);
        -moz-box-shadow: 9px 10px 5px -5px rgba(189,185,189,1);
        box-shadow: 9px 10px 5px -5px rgba(189,185,189,1);
}
.intro a:link,
.intro-link a:link{
    color:#00cec8;
    text-decoration: underline;
    font-weight: 100;
}
.intro-link a:link::after{
    content:"|";
    margin-left:7px;
}
strong{
    font-weight: 400;
}
p{
    font-weight: 200;
}
.fa-home,
.fa-search,
.fa-twitter,
.slick-dots li.slick-active button:before{
    color:#06aeab!important;
}
.fa-search{
    background:none!important;
    border:none!important;
}
.slick-dots li button:before{
    font-size:10px!important;
    margin-top:1rem;
}